{% extends 'dashboard/base.html' %}

{% block head %}
    <script type="text/javascript">
        function send_contact() {
          alert("Enviando contato");
          UserTrace().send(document.getElementById('email').value);
        };
    </script>
{% endblock %}
{% block body %}
    <div>
        <div class="well">
            <h1 style="text-align: center">Contato</h1>
            <div class="table-responsive well">
                <form id="applicationForm" name="applicationForm" class="navbar-form" role="form">
                    <div class="form-group" style="width: 600px; padding: 5px;">
                        <div class="input-group" style="width: 100%">
                            <span class="input-group-addon"><b>Nome</b></span>
                            <input id="name" name="name" type="text" class="form-control" placeholder="Juca Bala" aria-describedby="basic-addon1" value="">
                        </div>
                        <div class="input-group" style="width: 100%">
                            <span class="input-group-addon"><b>Empresa</b></span>
                            <input id="empresa" name="empresa" type="text" class="form-control" placeholder="Fulano Store" aria-describedby="basic-addon1" value="">
                        </div>
                        <div class="input-group" style="width: 100%">
                            <span class="input-group-addon"><b>E-mail</b></span>
                            <input id="email" name="email" type="text" class="form-control" placeholder="jucabala@fulano.com" aria-describedby="basic-addon1" value="jucabala@fulano.com">
                        </div>
                    </div>
                </form>
                <div class="navbar-form">
                    <div class="input-group" style="width: 600px; padding: 5px; text-align: right">
                        <button id="btDeploy" class="btn btn-primary" onclick="send_contact()">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
