{% extends 'dashboard/base.html' %}

{% block body %}
    <div>
        <div class="well">
            <h1 style="text-align: center">Preço</h1>
            <div class="table-responsive well">
                <div class="row">
                    <div class="col-xs-6 col-lg-4">
                        <h2>Free</h2>
                        <p>Teste gratuito por 3 meses</p>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <h2>Enterprise</h2>
                        <p>Funcionalidades XX</p>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <h2>Enterprise Professional</h2>
                        <p>Funcionalidades XXXXX</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
