<!-- Modal -->
<div class="modal fade" id="windowModal" tabindex="-1" role="dialog" aria-labelledby="windowModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="windowModalLabel"></h4>
      </div>
      <div id="modal-body-content" class="modal-body"></div>
      <div id="modal-footer" class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- Modal MD-->
<div class="modal fade" id="windowMediumModal" tabindex="-1" role="dialog" aria-labelledby="windowModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="verifyIfShowAlertOrCloseModal('windowMediumModal')">&times;</button>
        <h4 class="modal-title" id="mediumWindowModalLabel"></h4>
      </div>
      <div id="medium-modal-body-content" class="modal-body"></div>
      <div id="modal-footer-medium" class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- Small Modal -->
<div class="modal fade bs-example-modal-sm" id="windowSmallModal" tabindex="-1" role="dialog" aria-labelledby="windowModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="smallWindowModalLabel"></h4>
      </div>
      <div id="small-modal-body-content" class="modal-body"></div>
      <div id="modal-footer-small" class="modal-footer"></div>
    </div>
  </div>
</div>